body {
    background: #000000;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.superior {
    /* background: #333333; */
    background: black;
    padding: 0px 174px 0px 174px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);

}

.text {
    font-size: 4rem;
}

.text1 {
    font-size: 2.5rem;
}

.text2 {
    font-size: 2rem;
}

/* Input container */
.input-container {
    position: relative;
    margin: 24px 0;
}

/* Input field */
.input-field {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    /* border: none; */
    border-radius: 11px;
    border-bottom: 2px solid white;
    outline: none;
    background-color: transparent;
    color: white;
}

.item {
    margin: 20px;

}

/* Input label */
.input-label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    color: rgba(204, 204, 204, 0);
    pointer-events: none;
    transition: all 0.3s ease;
}

/* Input field:focus styles */
.input-field:focus+.input-label {
    top: -20px;
    font-size: 12px;
    color: blue;
}

.input-field:focus+.input-label+.input-highlight {
    width: 100%;
}

.formulario {
    justify-content: center;
    color: white;
    background: black;
    width: 980px;
    padding: 10px 1px 20px 45px;
    margin: 250px 0px 0px 184px;
}

.textA {
    padding: 0 0 0 10px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: 1.3rem;
}

 HEAD .fontTextContent {
    color: var(--color--teme4);
    font-size: 12px;
}

.fontTextContentAppeal {
    color: var(--color--teme1);
    font-size: 12px;
    margin: 10px 0px;
}

.divScoreContent {
    padding: 5px;
    margin: 5px 5px;
}

.divHeadsection {
    background-color: var(--color--focus);
    color: var(--color--teme1);
    border-radius: 25px;
    font-size: 15px;
    text-align: left;
    height: 60px;
    padding: 18px;
    font-weight: bold;

}

.material-symbols-sharp {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.material-symbols-rounded {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.material-symbols-outlined {
         font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.iconUser {
    font-size: 100px;

}

.iconUserPrincipal {
    font-size: 200px;
}

.iconPerfil {
    font-size: 50px;

}

.iconStartQ {
    font-size: 20px;

}

.iconMedall {
    font-size: 60px;
    color: var(--color--QP);
}

.iconAppeal {
    font-size: 25px;
    color: var(--color--QP);
}

.iconUser {
    font-size: 100px;
    --color: var(--color--QP);
}

.iconUserPrincipal {
    font-size: 200px;
    --color: var(--color--QP);
}

.iconPerfil {
    font-size: 50px;
    --color: var(--color--QP);
}

.iconStartQ {
    font-size: 20px;
    --color: var(--color--QP);
}

.iconMedall {
    font-size: 60px;
    --color: var(--color--QP);
}

.iconAppeal {
    font-size: 25px;
    --color: var(--color--QP);
}

.divQualifyPositive {
    background-color: var(--color--teme4);
    border-radius: 25px;
    font-size: 15px;
    padding: 10px;
    border: 4px solid var(--color--QP);
    margin: 20px 1px;
    color: var(--color--teme1);
}

.divQualifyNegative {
    background-color: var(--color--teme4);
    border-radius: 25px;
    font-size: 15px;
    padding: 10px;
    border: 4px solid var(--color--QN);
    margin: 20px 1px;
    color: var(--color--teme1);
}

/*-- Inicio de control para flush --*/
.accordion {
    background-color: var(--color--focus);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-radius: 25px;
    font-weight: bold;
}

.active,
.accordion:hover {
    background-color: var(--color--teme4);
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;

}

.panel {
    padding: 0 18px;
    background-color: var(--color--teme2);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-radius: 25px;
}

.accordion:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}

/*-- fin de control para flush --*/




.panel_izquierda {
    background-color: var(--main-color);
    color: white;
    border: solid 10px black !important;
    border-radius: 25px;
    height: 100vh;
}




.main_feed {
    background-color: var(--main-color);
    color: white;
    border: solid 10px black;
    border-radius: 25px;
    padding: 0;
    height: 100vh;
    overflow-y: auto;
}


.main_feed::-webkit-scrollbar {
    display: none;
}

.sidebar_derecha {
    background-color: var(--main-color);
    color: white;
    border: solid 10px black;
    border-radius: 25px;
    height: 100vh;
    overflow-y: auto;
}

.contenido_izquierda {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar_izquierda {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 25px;
}

.boton_perfil {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 25px;
    transition: all 0s;
    transform: translateY(-30px);
}

.boton_perfil2 {
    color: white;
    background: black;
    border-radius: 25px !important;
    margin: 0 10px 0 10px;
    transition: all 0s;
}

.boton_perfil2:hover {
    color: #0d6efd !important;
    border: solid 2px white;
    background-color: #0d6efd;
}

.boton_perfil2:hover a h3 {
    color: white;
}

.boton_perfil2:active {
    background-color: #0c53bd !important;
    border-color: white !important;
}

.icono {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    transform: translateX(8px);
    transform: translateX(10px) !important;
}

.boton_wrapper {
    width: 225px;
    height: 47px;
}

.boton {
    width: auto;
    background-color: var(--main-color) !important;
    color: white;
    border: solid 2px transparent;
    transition: all 0s;
}

.boton:hover {
    color: white;
    border: solid 2px white;
    border-radius: 25px;
    background-color: #0d6efd !important;
}

.boton_grande {
    color: white;
    background: black;
    border-radius: 25px !important;
    margin: 0 10px 0 10px;
    transition: all 0s;
}

.boton_grande:hover {
    border: solid 2px white;
    background-color: #0d6efd;

}

.boton_grande:hover a h3 {
    color: white;
}

.boton_grande:active {
    background-color: #0c53bd !important;
}

a {
    text-decoration: none !important;
    color: white;
}

@media screen and (max-width: 1200px) {
    .boton_wrapper {
        width: 50px;
    }
}

@media screen and (max-width: 1200px) {
    .boton_perfil {
        margin-right: 0px !important;
    }
}

@media screen and (max-width: 1200px) {
    .sidebar_izquierda {
        margin-right: 0px !important;
        display: flex;
        flex-direction: column;
        align-items: center !important;
    }
}

@media screen and (max-width: 1200px) {
    .boton p {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .boton i {
        margin-right: 0 !important;
    }
}

@media screen and (max-width: 1200px) {
    .icono {
        width: 50px !important;
        transform: translateX(4px) !important;
    }
}

@media screen and (max-width: 1200px) {
    .boton_grande a {
        display: none !important;
    }
}

@media screen and (max-width: 1200px) {
    .boton_grande {
        height: 66px !important;
        width: 66px !important;
        border-radius: 50% !important;
    }
}

@media screen and (max-width: 1200px) {
    .boton_grande i {
        display: block !important;
        font-size: 34px;
    }
}

@media screen and (max-width: 1200px) {
    .boton_perfil2 a {
        display: none !important;
    }
}

@media screen and (max-width: 1200px) {
    .boton_perfil2 {
        height: 66px !important;
        width: 66px !important;
        border-radius: 50% !important;
    }
}

@media screen and (max-width: 1200px) {
    .boton_perfil2 i {
        display: block !important;
        font-size: 34px;
    }
}

@media screen and (max-width: 1200px) {
    .boton_perfil {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

@media screen and (max-width: 1200px) {
    .panel_izquierda {
        border-right: solid 5px black !important;
    }
}

@media screen and (max-width: 1200px) {
    .main_feed {
        border-right: solid 5px black;
        border-left: solid 5px black;
    }
}

@media screen and (max-width: 1200px) {
    .sidebar_derecha {
        border-left: solid 5px black;
    }
}

.navbar-brand h3 {
    margin-left: 15px;
}

.nav li {
    border: 2px solid transparent;
}

.nav li:hover {
    border: solid 2px white !important;
    border-radius: 7.5px;
}

.navborder {
    border-bottom: solid 2px black;
}

.report_border {
    border-bottom: solid 2px black;
}

.report_section {
    font-size: 25px;
}

textarea {
    color: white;
    background-color: var(--main-color);
    width: 100%;
    resize: vertical;
    overflow: hidden;
    border: transparent;
    outline: none;
    transition: all .3s;
}

.botones_report button {
    background-color: var(--main-color);
    border: none;
    padding-left: 9.5px;
    padding-right: 9.5px;
}

.boton_mas {
    background-color: var(--main-color);
    border: none;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.content_sidebar_derecha {
    margin-left: 20px !important;
}

.container_search {
    background-color: white;
    border-radius: 25px 0 0 25px;

}

.container_search i {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translate(7.5px, 0);
}

.input_search {
    border-radius: 0 25px 25px 0;
    border-left: none !important;
}

.verified_box {
    border-radius: 25px;
}

.boton_verified {
    border-radius: 25px;
}

.boton_verified p {
    font-weight: 600;
    margin: 0;
}

@media screen and (max-width: 1200px) {
    .navbar_derecha {
        width: 100% !important;
    }
}

@media screen and (max-width: 1200px) {
    .verified_box {
        width: 100% !important;
    }
}

@media screen and (max-width: 1200px) {
    .follow_box {
        width: 100% !important;
    }
}

@media screen and (max-width: 1200px) {
    .news_box {
        width: 100% !important;
    }
}

@media screen and (max-width: 992px) {
    .navbar_derecha {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .verified_box {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .follow_box {
        display: none !important;
    }
}

@media screen and (max-width: 992px) {
    .news_box {
        display: none;
    }
}


.follow_box {
    display: flex;
    flex-direction: column;
    border-radius: 25px;
}

.users {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.users p {
    margin: 0;
}

.boton_follow2 {
    display: flex;
    flex-direction: row;
    justify-content: end !important;
}


.boton_follow {
    border-radius: 25px;
    font-weight: 600;
    margin: 0;
}

.innerdiv_follow {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center;
}

.news_box {
    border-radius: 25px;
}

.news_box p,
h5 {
    margin: 0;
}

.news_widget {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.active2 {
    background-color: #0d6efd !important;
}

#button_list,
li {
    height: 50px !important;
}

#button_list,
button {
    height: 100% !important;
}

.abcd {
    position: sticky;
    top: 0%;
    width: 100%;
    background-color: var(--main-color);
}

.navbar_derecha {
    position: sticky !important;
    top: 0% !important;
    width: 100% !important;
    z-index: 1 !important;
    background-color: var(--main-color);
}

.navbar_position2 button {
    padding-left: 11.7px;
    padding-right: 11.7px;

/* .text3 {
        font-size: 1.2rem;
    } */

    @font-face {
        font-family: 'fuentePaginaEspecial';
        src: url(../fonts/find_cartoon.otf);
    }


    .letraKeep {
        font-family: 'fuentePaginaEspecial';
    }

    .contenedorPrincipal {
        height: 80vh;
    }


    .containerBtnInput {
        position: relative;
        width: 100%;
    }

    .containerBtnInput input {
        width: 100%;
        background: transparent;
        outline: none;
        border: none;
        color: #ffffff;
        padding: 8px;
    }

    .containerBtnInput label {
        position: absolute;
        left: 0;
        top: 0;
        color: rgba(255, 255, 255, 0.7);
        text-transform: uppercase;
        pointer-events: none;
        transition: .5s;
        font-weight: bold;
    }

    .containerBtnInput input:valid~label,
    .containerBtnInput input:focus~label {
        color: rgb(255, 255, 255);
        transform: translateY(-15px);
        font-size: .8rem;
    }

    .containerBtnInput i {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background: #222;
    }

    .mt-5 {
        margin-top: 1.5rem !important;
        color: blue;
    }

    .containerBtnInput i:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, white, blue, white);
        animation: animate 3s linear infinite;
    }


    .button {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 0px 15px;
        background-color: red;
        border-radius: 10px;
        border: none;
        color: white;
        position: relative;
        cursor: pointer;
        font-weight: 900;
        transition-duration: .2s;
        background: linear-gradient(0deg, #000, #272727);
    }

    .but:before {
        content: '';
        position: absolute;
        left: -2px;
        top: -2px;
        border-radius: 10px;
        background: linear-gradient(45deg, white, blue, white, blue, white, blue, white, blue);
        background-size: 400%;
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        z-index: -1;
        animation: steam 20s linear infinite;
    }

    @media (max-width: 768px) {
        .formulario {
            justify-content: center;
            color: white;
            background: black;
            width: 400px;
            padding: 10px 1px 20px 10px;
            margin: 150px 60px 0px 50px;
        }
    }

    @media (min-width: 769px) and (max-width: 992px) {
        .formulario {
            justify-content: center;
            color: white;
            background: black;
            width: 600px;
            padding: 10px 1px 20px 10px;
            margin: 150px 0px 0px 50px;
        }

        
    }